/*********************************************

Here is a description of any special CSS used.
By default that's nothing.

**********************************************/
#title {
  text-align: center;
  height: 10vh;
  margin-top: 2vh;
  margin-bottom: 12vh;
}

.title {
  font-size: 2.5rem;
}

.instruction {
  font-size: 1.2rem;
}

#alphabet {
  display: flex;
  text-align: center;
  font-size: 3rem;
}

.column {
  flex: 50%;
}

#rightcolumn {
  margin-top: 10vh;
}

#answer {
  margin-top: 5vh;
  margin-left: 15vw;
  height: 4rem;
  width: 70vw;
  font-size: 2.2rem;
  text-align: center;
  border: 1px dashed;
  border-color: black;
}

.used {
  color: #b3b3b3;
}

.hidden {
  display: none;
}
